name: Basic Integrity Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      COMPILER: gcc
      INSTALL_ROOT: ${HOME}/zisa_dependencies

    steps:
      # Checks-out the repository.
      - uses: actions/checkout@v2

      - name: Install conan
        run: |
          pip3 install conan
          export PATH=${PATH}:${HOME}/.local/bin

      - name: Set environment variables
        run: |
          export INSTALL_DIR=$(bin/install_dir.sh ${COMPILER} ${INSTALL_ROOT})

      - name: Install dependencies
        run: |
          bin/install_dependencies.sh ${COMPILER} ${INSTALL_ROOT}

      - name: Configure build
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=${INSTALL_DIR}/zisa \
                -DCMAKE_PREFIX_PATH=${INSTALL_DIR}/zisa/lib/cmake/zisa \
                -DCMAKE_PROJECT_ZisaCore_INCLUDE=${INSTALL_DIR}/conan/conan_paths.cmake \
                -DCMAKE_BUILD_TYPE=Release \
                ..

      - name: Build everying
        run: |
          cmake --build .

      - name: Run tests
        run: |
          ctest
